body header {
  font-family: "Segoe UI";
  background-color: lightblue;
  color: blue;
  height: 5em;
}
body header h1 {
  color: blue;
  font-size: 1.6em;
  text-align: left;
  padding-left: 0.2em;
}
body header h2 {
  color: blue;
  font-size: 1.4em;
  text-align: left;
  padding-left: 0.2em;
}

.btn {
  padding: 1.2em;
  font-size: 1.2em;
  text-align: center;
  background-color: orange;
  color: white;
  border: solid #b37400 medium;
  border-radius: 0.8em;
  width: 8em;
}
.btn:hover {
  cursor: auto;
  background-color: #ffb733;
  border: solid #ffae1a medium;
  border-radius: 0.8em;
}
.btn:active {
  background-color: #ffae1a;
  color: white;
  border: solid #ffae1a medium;
  border-radius: 0.8em;
}

.btn-sm {
  padding: 1.2em;
  font-size: 0.8em;
  text-align: center;
  background-color: orange;
  color: white;
  border: solid #b37400 medium;
  border-radius: 0.8em;
  width: 6em;
}
.btn-sm:hover {
  cursor: auto;
  background-color: #ffb733;
  border: solid #ffae1a medium;
  border-radius: 0.8em;
}
.btn-sm:active {
  background-color: #ffae1a;
  color: white;
  border: solid #ffae1a medium;
  border-radius: 0.8em;
}

.btn-lg {
  padding: 1.2em;
  font-size: 1.5em;
  text-align: center;
  background-color: orange;
  color: white;
  border: solid #b37400 medium;
  border-radius: 0.8em;
  width: 12em;
}
.btn-lg:hover {
  cursor: auto;
  background-color: #ffb733;
  border: solid #ffae1a medium;
  border-radius: 0.8em;
}
.btn-lg:active {
  background-color: #ffae1a;
  color: white;
  border: solid #ffae1a medium;
  border-radius: 0.8em;
}

.fat {
  padding: 1.2em;
  font-size: 1.5em;
  text-align: center;
  background-color: orange;
  color: white;
  border: solid #b37400 medium;
  border-radius: 0em;
  width: 8em;
}
.fat:hover {
  cursor: auto;
  background-color: #ffb733;
  border: solid #ffae1a medium;
  border-radius: 0em;
}
.fat:active {
  background-color: #ffae1a;
  color: white;
  border: solid #ffae1a medium;
  border-radius: 0em;
}

.extra-lg {
  padding: 1.2em;
  font-size: 1.5em;
  text-align: center;
  background-color: orange;
  color: white;
  border: solid #b37400 medium;
  border-radius: 0.8em;
  width: 100%;
}
.extra-lg:hover {
  cursor: auto;
  background-color: #ffb733;
  border: solid #ffae1a medium;
  border-radius: 0.8em;
}
.extra-lg:active {
  background-color: #ffae1a;
  color: white;
  border: solid #ffae1a medium;
  border-radius: 0.8em;
}

.button-fancy {
  background-color: red;
  background-image: linear-gradient(white, red);
  transition: background-color 0.5s;
}

.small {
  color: grey;
  font-size: 0.8em;
}

.alertError {
  color: black;
  padding: 0.5em;
  margin: 0.2em;
  border: 0.2em solid red;
  background-color: #f5aca6;
  font-family: "Segoe UI";
}
.alertError span {
  font-weight: bold;
  text-transform: uppercase;
}

.alertSuccess {
  color: black;
  padding: 0.5em;
  margin: 0.2em;
  border: 0.2em solid green;
  background-color: #a6ca8a;
  font-family: "Segoe UI";
}
.alertSuccess span {
  font-weight: bold;
  text-transform: uppercase;
}

.alertWarning {
  color: black;
  padding: 0.5em;
  margin: 0.2em;
  border: 0.2em solid orange;
  background-color: #f2c779;
  font-family: "Segoe UI";
}
.alertWarning span {
  font-weight: bold;
  text-transform: uppercase;
}

.alertNotice {
  color: black;
  padding: 0.5em;
  margin: 0.2em;
  border: 0.2em solid blue;
  background-color: #8ed9f6;
  font-family: "Segoe UI";
}
.alertNotice span {
  font-weight: bold;
  text-transform: uppercase;
}

.jumbotron {
  width: 65%;
  background-color: grey;
  color: blue;
  text-align: center;
  height: 15em;
  font-size: 1.2em;
}
.jumbotron h1 {
  color: green;
}
.jumbotron button {
  background-color: green;
  width: 15%;
  height: 4em;
  border-radius: 1.5em;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.0em;
}
.jumbotron button:hover {
  border-radius: 1.5em;
  background-color: #009a00;
}
.jumbotron button:active {
  border-radius: 1.5em;
  background-color: #009a00;
}

.navbar {
  display: inline-block;
}
.navbar:hover {
  color: grey;
}
.navbar li:nth-of-type(2) {
  color: grey;
  pointer-events: none;
}
.navbar li:nth-of-type(3) {
  color: blue;
}

.breadcrumb {
  color: blue;
  background-color: grey;
  padding: 1.2em;
  list-style: none;
}
.breadcrumb ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
  border: none;
}
.breadcrumb ul li {
  margin-left: 0;
  padding-left: 0.8em;
  display: inline;
  border: none;
}

article {
  font-size: 0em;
}
article:after {
  display: block;
  content: '';
  float: none;
  clear: both;
}
article section {
  overflow: scroll;
  border: solid;
  box-sizing: border-box;
  display: inline-block;
  height: 15em;
}
article section:nth-of-type(1) {
  margin-left: 25%;
  width: 35%;
  font-size: 1rem;
}
article section:nth-of-type(2) {
  margin-left: 45%;
  width: 55%;
  font-size: 1rem;
}
article section:nth-of-type(3) {
  margin-left: 25%;
  width: 15%;
  font-size: 1rem;
}
article section:nth-of-type(4) {
  margin-left: 25%;
  width: 75%;
  font-size: 1rem;
}
