@mixin alert($colorText, $borderColor, $bgColor)
{
  color: $colorText;
  padding: 0.5em;
  margin: 0.2em;
  border: 0.2em solid $borderColor;
  background-color: $bgColor;
  font-family: "Segoe UI";

  span
  {
    font-weight: bold;
    text-transform: uppercase;
  }
}