@mixin button($widthButton, $colorButton, $sizeText, $colorText, $padding, $radius) {
  padding: $padding;
  font-size: $sizeText;
  text-align: center;
  background-color: $colorButton;
  color: $colorText;
  border: solid darken($colorButton, 15%) medium;
  border-radius: $radius;
  width: $widthButton;

  &:hover {
    cursor: auto;
    background-color: lighten($colorButton, 10%);
    border: solid lighten($colorButton, 5%) medium;
    border-radius: $radius;
  }

  &:active {
    background-color: lighten($colorButton, 5%);
    color: $colorText;
    border: solid lighten($colorButton, 5%) medium;
    border-radius: $radius;
  }
}

@mixin button-fat() {
  border: none;
  border-radius: 0;
}

@mixin button-extra-large() {
  width: 100%;
}

@mixin button-fancy($color) {
  background-color: $color;
  background-image: linear-gradient(white, $color);
  transition: background-color 0.5s;
}