@mixin header($textcolor, $bgcolor, $align, $padding, $size)
{
  font-family: "Segoe UI";
  background-color: $bgcolor;
  color: $textcolor;
  height: $size;

  h1 {
    color: $textcolor;
    font-size: 1.6em;
    text-align: $align;
    padding-left: $padding;
  }

  h2 {
    color: $textcolor;
    font-size: 1.4em;
    text-align: $align;
    padding-left: $padding;
  }
}

@mixin jumbotron($bgColor, $colorBtn, $textColor, $color) {
  width: 65%;
  background-color: $bgColor;
  color: $textColor;
  text-align: center;
  height: 15em;
  font-size: 1.2em;

  h1 {
    color: $color;
  }

  button {
    background-color: $colorBtn;
    width: 15%;
    height: 4em;
    border-radius: 1.5em;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.0em;

    &:hover {
      border-radius: 1.5em;
      background-color: lighten($colorBtn, 5%);
    }

    &:active {
      border-radius: 1.5em;
      background-color: lighten($colorBtn, 5%);
    }
  }
}

@mixin navbar {
  display: inline-block;

  &:hover {
    color: grey;
  }
}

@mixin disabled {
  color: grey;
  pointer-events: none;
}

@mixin active {
  color: blue;
}

@mixin breadcrumb {
  color: blue;
  background-color: grey;
  padding: 1.2em;
  list-style: none;

  ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    border: none;

    li {
      margin-left: 0;
      padding-left: 0.8em;
      display: inline;
      border: none;
    }
  }
}