@mixin typos() {
  h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: bold;
    font-family: "Segoe UI";
  }

  h1 {
    font-size: 2.0em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.3em;
  }

  h6 {
    font-size: 1.2em;
  }
}

@mixin small(){
    color: grey;
    font-size: 0.8em;
  }

@mixin decoration($decoration) {
    text-decoration: $decoration;
  }

@mixin listStyle($listStyle) {
    text-decoration: none;
    list-style: $listStyle;
  }

@mixin textAlign($align) {
    text-align: $align;
  }

@mixin textTransform($transform){
    text-transform: $transform;
  }

@mixin swapColor($color)
  {
    &:nth-child(n+1) {
      color: grey;
    }
  }

@mixin border($borderwidth, $borderStyle, $borderColor){
    border : $borderStyle $borderwidth $borderColor;
  }

@mixin hover($color, $size) {
    color: $color;
    font-size: $size;
  }