@import "import";

body
{
    header
    {
        @include header(blue, lightblue, left, 0.2em, 5em);
    }
}

.btn
{
    @include button(8em, orange, 1.2em, white, 1.2em, 0.8em);
}

.btn-sm
{
    @include button(6em, orange, 0.8em, white, 1.2em, 0.8em);
}

.btn-lg
{
    @include button(12em, orange, 1.5em, white, 1.2em, 0.8em);
}

.fat{
    @include button(8em, orange, 1.5em, white, 1.2em, 0em);
}

.extra-lg
{
    @include button(100%, orange, 1.5em, white, 1.2em, 0.8em);
}

.button-fancy
{
    @include button-fancy(red);
}
.small
{
    @include small();
}

.alertError
{
    @include alert(black, red, #f5aca6);
}

.alertSuccess
{
    @include alert(black, green, #a6ca8a);
}

.alertWarning
{
    @include alert(black, orange, #f2c779);
}

.alertNotice
{
    @include alert(black, blue, #8ed9f6);
}

.jumbotron
{
    @include jumbotron(grey, green, blue, green);
}

.navbar {
    @include navbar();

    li:nth-of-type(2) {
        @include disabled();
    }
    li:nth-of-type(3) {
        @include active();
    }
}

.breadcrumb {
    @include breadcrumb();
}

article {
    $tailleColG: 15%;
    $nbColG: 5%;
    @include container();
    section {
        overflow: scroll;
        border: solid;
        box-sizing: border-box;
        display: inline-block;
        height: 15em;
        &:nth-of-type(1) {
            @include grid($tailleColG, $nbColG, 2, 1);
        }

        &:nth-of-type(2) {
            @include grid($tailleColG, $nbColG, 3, 2);
        }

        &:nth-of-type(3) {
            @include grid($tailleColG, $nbColG, 1, 1);
        }

        &:nth-of-type(4) {
            @include grid($tailleColG, $nbColG, 4, 1);
        }
    }
}